@charset "utf-8";

:root {
  font-size: 16px;
  --mw: 1200px;
}
.mw {
  max-width: var(--mw);
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.intro {
  border: 1px solid blue;
  width: 100%;
  height: 100vh;
  background-color: #25242c;
}
.intro_mold {
  border: 1px solid red;
  margin-top: 10rem;
  /* height: 668px; */
  padding-top: 52%;
  background-image: url(../img/intromold.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  transform-style: preserve-3d;
}
.con_wrap {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;

  position: absolute;
  top: 0;
}
.con {
  width: 0.25%;
  position: absolute;
}
.conR {
  width: 0.25%;
  position: absolute;
  transform: rotate(180deg);
}
.con1 {
  left: 10.7vw;
  top: 0.5vw;
  /* animation: move1 3s; */
}
.con2 {
  left: 10.7vw;
  top: 14.8vh;
}
.con3 {
  left: 18.7vw;
  top: 0.5vw;
  /* animation: move1 3s; */
}
.con4 {
  left: 18.7vw;
  top: 14.8vh;
}
.con5 {
  left: 27vw;
  top: 0.5vw;
}
.con6 {
  left: 27vw;
  top: 14.8vh;
}
.con7 {
  left: 35vw;
  top: 0.5vw;
}
.con8 {
  left: 35vw;
  top: 14.8vh;
}
.con9 {
  left: 55vw;
  top: 0.5vw;
}
.con11 {
  left: 64vw;
  top: 0.5vw;
}
.al {
  position: absolute;
  width: 7.2%;
}
.c1 {
  left: 8vw;
  top: 3.8vh;
}
.o1 {
  width: 8.1%;
  left: 16vw;
  top: 4.1vh;
}
.d1 {
  left: 25vw;
  top: 4.4vh;
}
.e1 {
  width: 5.8%;
  left: 33vw;
  top: 4.5vh;
}
.name {
  width: 20%;
  position: absolute;
  left: 52vw;
  top: 3.7vh;
}

/* 반응형 */
@media (max-width: 1270px) {
  .con2,
  .con4,
  .con6,
  .con8 {
    top: 10.5vw;
  }
  .c1 {
    left: 7vw;
    top: 2.5vw;
  }
  .o1 {
    left: 15vw;
    top: 2.7vw;
  }
  .d1 {
    left: 24vw;
    top: 2.9vw;
  }
  .e1 {
    left: 32vw;
    top: 3vw;
  }
}
@media (max-width: 640px) {
  .con2,
  .con4,
  .con6,
  .con8 {
    top: 10vw;
  }
}
@media (max-width: 430px) {
  .con2,
  .con4,
  .con6,
  .con8 {
    top: 9.5vw;
  }
}

/* @keyframes move {
  0% {
    transform: translate3d(0, 0, 1000px);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes move {
  0% {
    transform: translate3d(1000px, 100px, 1000px);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes move1 {
  0% {
    transform: translate3d(0, -100px, 1000px);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
} */
